Repository 3drepo/3drepo.io, pull requests merged in 2022-05, with the labels that each got.

#3194 ISSUE #3171 - Viewer Facelift Issue details tab (properties)
  backend/package.json
  backend/yarn.lock
  frontend/src/v4/routes/components/textField/textField.component.tsx
  frontend/src/v4/routes/components/textField/textField.styles.ts
  frontend/src/v4/routes/viewerGui/components/issues/components/issueDetails/issueDetails.styles.ts
  frontend/src/v4/routes/viewerGui/components/issues/components/mainIssueFormTab/mainIssueFormTab.component.tsx
  frontend/src/v4/routes/viewerGui/components/issues/components/mainIssueFormTab/mainIssueFormTab.styles.ts
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/v4Adapter/overrides/preview/previewDetails.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/properties.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: frontend, Revamping

#3219 ISSUE #3218 - prevent crash in v4 viewer
  frontend/src/v4/routes/components/textField/textField.component.tsx
Labels: bug, frontend, Revamping

#3233 ISSUE #3224 - Fixed not being able to switch to smart group
  frontend/src/v4/routes/viewerGui/components/groups/components/groupDetails/groupDetailsForm.component.tsx
Labels: DCW

#3203 ISSUE #3173 - Viewer facelift - Issues details tab (sequences)
  frontend/src/v4/routes/components/sequencingDates/sequencingDates.component.tsx
  frontend/src/v4/services/formatting/formatDate.ts
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/v4Adapter/overrides/properties.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/sequences.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: frontend, Revamping, DCW

#3241 ISSUE #3225 - Viewer facelift - BIM Card
  frontend/src/v4/routes/components/starIcon/starIcon.styles.ts
  frontend/src/v4/routes/viewerGui/components/bim/bim.component.tsx
  frontend/src/v5/ui/v4Adapter/overrides/bim.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: frontend, Revamping, DCW

#3234 Issue 3231 - Viewer facelift - Tree Card
  frontend/src/v4/routes/viewerGui/components/tree/components/treeNode/treeNode.component.tsx
  frontend/src/v4/routes/viewerGui/components/tree/components/treeNode/treeNode.styles.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/properties.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/sequences.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/tree.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: DCW

#3217 Issue 3175 - Viewer facelift - Issue Tab (Attachments)
  frontend/src/v4/modules/currentUser/currentUser.selectors.ts
  frontend/src/v4/routes/components/dialogContainer/components/dialog/dialog.component.tsx
  frontend/src/v4/routes/components/dialogContainer/components/redirectToTeamspaceDialog/redirectToTeamspaceDialog.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourceFileEntry.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourceFiles.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourceLinkEntry.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourceUrls.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourcesDialog.component.tsx
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourcesDialog.styles.ts
  frontend/src/v4/routes/components/resources/attachResourcesDialog/attachResourcesDialogButtons.tsx
  frontend/src/v4/routes/components/resources/removeButton.component.tsx
  frontend/src/v4/routes/components/resources/resourceIcon.tsx
  frontend/src/v4/routes/components/resources/resources.component.tsx
  frontend/src/v4/routes/components/resources/resources.styles.ts
  frontend/src/v4/routes/components/textField/textField.component.tsx
  frontend/src/v4/routes/components/textField/textField.styles.ts
  frontend/src/v4/routes/viewerGui/components/reportedItems/reportedItems.component.tsx
  frontend/src/v4/routes/viewerGui/components/risks/components/expandableTextField/expandableTextField.tsx
  frontend/src/v4/routes/viewerGui/components/risks/components/riskDetails/riskDetails.styles.ts
  frontend/src/v5/services/api/default.ts
  frontend/src/v5/ui/controls/modal/formModal/formDialog.styles.ts
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/themes/theme.ts
  frontend/src/v5/ui/v4Adapter/conditionalV5Container.component.tsx
  frontend/src/v5/ui/v4Adapter/dialogs/attachResourcesDialog.overrides.ts
  frontend/src/v5/ui/v4Adapter/dialogs/generalDialogStyling.overrides.ts
  frontend/src/v5/ui/v4Adapter/dialogs/v4DialogsAdapter.component.tsx
  frontend/src/v5/ui/v4Adapter/dialogs/v4DialogsOverrides.styles.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/attachments.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/panel
  frontend/src/v5/ui/v4Adapter/overrides/preview/previewComments.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/preview/previewDetails.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
  yarn.lock
Labels: feature, frontend, Revamping, DCW

#3257 ISSUE #3244 - add spacing between tabs and 4d fields
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/sequences.overrides.ts
Labels: DCW

#3227 Issue 3226 - Viewer Facelift - Measurement card
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/themes/global.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/properties.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/shapes.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/measurements.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: DCW

#3269 ISSUE #3239 - Viewer facelift - Groups
  frontend/src/v4/constants/groups.ts
  frontend/src/v4/routes/components/criteriaField/criteriaField.styles.ts
  frontend/src/v4/routes/components/criteriaField/newCriterionForm.component.tsx
  frontend/src/v4/routes/viewerGui/components/groups/components/groupDetails/groupDetailsForm.component.tsx
  frontend/src/v4/routes/viewerGui/components/groups/groups.component.tsx
  frontend/src/v4/routes/viewerGui/components/groups/groups.styles.ts
  frontend/src/v4/services/formatting/formatDate.ts
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/groups.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/attachments.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/colorPicker.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/leftPanel.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: frontend, Revamping, DCW

#3289 ISSUE #3286 - fix sign up form boxes in wrong position when using wide resolutions
  frontend/src/v4/routes/signUp/signUp.component.tsx
Labels: bug, frontend

#3297 ISSUE #3293 - fix sizes and colours of issue filter search
  frontend/src/v5/ui/v4Adapter/overrides/leftPanel.overrides.ts
Labels: frontend, Revamping

#3298 ISSUE #3294 - Change colour of menu items from ellipsis in viewer windows
  frontend/src/v5/ui/routes/viewer/theme.ts
Labels: frontend, Revamping

#3287 ISSUE #3228 - Horizontal scroll appearing in upload file modal for firefox on windows 11
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadFileForm.styles.ts
Labels: bug, frontend, Revamping
