Repository 3drepo/3drepo.io, pull requests merged in 2022-06, with the labels that each got.

#3253 ISSUE #2787 - Create Federation Modal
  frontend/src/v5/services/api/federations.ts
  frontend/src/v5/store/federations/federations.helpers.ts
  frontend/src/v5/store/federations/federations.redux.ts
  frontend/src/v5/store/federations/federations.sagas.ts
  frontend/src/v5/store/federations/federations.types.ts
  frontend/src/v5/ui/controls/modal/formModal/formDialog.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containers.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/createContainerForm/createContainerForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationSettings/createFederationSettings.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationSettings/createFederationSettings.styles.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationSettings/index.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/index.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederation.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersList.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersList.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersListItem/editFederationContainersListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersListItem/editFederationContainersListItem.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/index.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederationModal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federations.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationsList.component.tsx
  frontend/src/v5/validation/schemes.ts
  frontend/test/auth/auth.sagas.spec.ts
  frontend/test/federations/federations.sagas.spec.ts
Labels: frontend, Revamping

#3275 ISSUE #3183 - if container has no revisions you cannot open it in viewer
  frontend/src/v5/store/containers/containers.helpers.ts
  frontend/src/v5/store/containers/containers.redux.ts
  frontend/src/v5/ui/components/dashboard/dashboardList/dashboardListItem/components/dashboardListItemTitle/dashboardListItemContainerTitle/dashboardListItemContainerTitle.component.tsx
  frontend/src/v5/ui/components/dashboard/dashboardList/dashboardListItem/components/dashboardListItemTitle/dashboardListItemTitle.component.tsx
  frontend/src/v5/ui/components/dashboard/dashboardList/dashboardListItem/components/dashboardListItemTitle/index.ts
  frontend/src/v5/ui/components/shared/revisionDetails/revisionDetails.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerEllipsisMenu/containerEllipsisMenu.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerListItem.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/latestRevision/latestRevision.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/latestRevision/latestRevision.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/createContainerForm/createContainerForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersListItem/editFederationContainersListItem.component.tsx
Labels: bug, frontend, Revamping

#3295 ISSUE #3160 - Change styling of 'Add new Federation/Container' at the bottom of lists
  frontend/src/v5/ui/components/dashboard/dashboardList/dashboardList.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containersList.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationsList.component.tsx
  frontend/src/v5/ui/themes/overrides-mui.d.ts
  frontend/src/v5/ui/themes/theme.ts
Labels: frontend, Revamping

#3305 ISSUE #3290 - Extra space needed below the last row on Teamspaces screen
  frontend/src/v5/ui/components/shared/userMenu/userMenu.component.tsx
  frontend/src/v5/ui/components/teamspace/teamspaceList/teamspaceList.styles.ts
  frontend/src/v5/ui/routes/teamspaceSelection/teamspaceSelection.component.tsx
  frontend/src/v5/ui/routes/teamspaceSelection/teamspaceSelection.styles.tsx
Labels: frontend, Revamping

#3278 ISSUE #3216 - You can upload files to containers that are being processed
  frontend/src/v5/store/auth/auth.sagas.ts
  frontend/src/v5/store/containers/containers.redux.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/components/uploadListItemDestination/options/existingContainer/existingContainer.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/components/uploadListItemDestination/options/existingContainer/existingContainer.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/components/uploadListItemDestination/options/newContainer/newContainer.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/components/uploadListItemDestination/uploadListItemDestination.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/components/uploadListItemDestination/uploadListItemDestination.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadList/uploadListItem/uploadListItem.component.tsx
Labels: bug, frontend, Revamping

#3332 ISSUE #3317 - SafetiBase - Risk details
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/properties.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/safetiBase/risk.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/safetiBase/safetiBase.overrides.ts
  frontend/src/v5/ui/v4Adapter/v4Overrides.styles.ts
Labels: frontend, Revamping

#3339 ISSUE #3320 - Safeti base - Shapes
  frontend/src/v4/routes/viewerGui/components/measurements/components/measureItem/measureItem.styles.ts
  frontend/src/v5/ui/routes/viewer/theme.ts
  frontend/src/v5/ui/v4Adapter/dialogs/colorPickerDialog.overrides.ts
  frontend/src/v5/ui/v4Adapter/dialogs/v4DialogsOverrides.styles.ts
  frontend/src/v5/ui/v4Adapter/overrides/cards/issues/shapes.overrides.ts
  frontend/src/v5/ui/v4Adapter/overrides/leftPanel.overrides.ts
Labels: frontend, Revamping

#3363 #3362 - add viewLicense
  backend/src/scripts/utility/teamspaces/viewLicense.js
Labels: enhancement, backend
