Repository 3drepo/3drepo.io, pull requests merged in 2022-09, with the labels that each got.

#3600 ISSUE #3509 - Update login page link to release notes
  frontend/src/v5/ui/routes/login/login.component.tsx
  frontend/src/v5/ui/routes/routes.constants.ts
Labels: bug, frontend, Revamping, 4.28.0

#3605 ISSUE #3602 - In the V5 viewer the bottom of the canvas is hidden off-screen
  frontend/src/v5/ui/themes/global.ts
Labels: bug, frontend, Revamping, viewer

#3604 ISSUE #3594 - update v5 signup form links to legal papers
  frontend/src/v5/ui/routes/userSignup/userSignupForm/userSignupFormStep/userSignupFormStepTermsAndSubmit/userSignupFormStepTermsAndSubmit.component.tsx
Labels: bug, frontend, Revamping

#3610 ISSUE #3522 - Fix up GIS panel in V5 viewer
  frontend/src/v4/routes/viewerGui/components/gis/gis.component.tsx
  frontend/src/v5/ui/v4Adapter/overrides/cards/gis.overrides.ts
Labels: bug, frontend, Revamping, viewer, 4.30.0

#3603 ISSUE #3410 - Use plurals/singulars where needed across V5
  frontend/src/v4/routes/viewerGui/components/groups/groups.component.tsx
  frontend/src/v4/routes/viewerGui/components/reportedItems/reportedItems.component.tsx
  frontend/src/v5/ui/components/shared/revisionDetails/revisionDetails.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerEllipsisMenu/containerEllipsisMenu.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadFileForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/uploadFileForm/uploadFileForm.helpers.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersListItem/editFederationContainersListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationListItem/federationListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/teamspaces/teamspaceLayout/teamspaceQuota/teamspaceSeatsQuota.component.tsx
Labels: bug, frontend, Revamping

#3599 ISSUE #3392 - Edit Federation Modal uses default horizontal scrollbar, which is only visible at bottom of vertical scroll
  frontend/src/v5/ui/controls/modal/formModal/formDialog.component.tsx
  frontend/src/v5/ui/controls/modal/formModal/formDialog.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersList.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersList.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederationModal.component.tsx
Labels: bug, frontend, Revamping, Release: 4.28.0

#3615 ISSUE #3546 - resolved crashes when static 404's
  backend/src/v4/services/frontend.js
  frontend/src/v4/routes/subscription/components/subscriptionForm.component.tsx
Labels: bug, backend

#3140 Issue 3120 - remove gridfs backups
  backend/src/scripts/migrations/4.26/index.js
  backend/src/scripts/migrations/4.28/index.js
  backend/src/scripts/migrations/4.28/moveGridFSToFS.js
  backend/src/scripts/migrations/4.28/removeGridFSBackUps.js
  backend/src/scripts/migrations/4.28/removeUnityAssetsJSON.js
  backend/src/v4/handler/gridfs.js
  backend/src/v4/mailer/mailer.js
  backend/src/v4/models/fileRef.js
  backend/src/v4/models/helper/model.js
  backend/src/v5/utils/helper/models.js
  backend/testDBVersion
  backend/tests/v4/integrated/job.js
  backend/tests/v4/unit/models/db.js
  backend/tests/v5/unit/processors/teamspaces/projects/models/containers.test.js
  backend/tests/v5/unit/processors/teamspaces/projects/models/federations.test.js
  backend/yarn.lock
Labels: DB migration

#3634 ISSUE #3607 - More descriptive page titles
  frontend/src/v5/services/routing/authenticatedRoute.component.tsx
  frontend/src/v5/services/routing/route.component.tsx
  frontend/src/v5/services/routing/routing.tsx
  frontend/src/v5/store/containers/containers.selectors.ts
  frontend/src/v5/store/projects/projects.selectors.ts
  frontend/src/v5/ui/routes/dashboard/index.tsx
  frontend/src/v5/ui/routes/dashboard/projects/index.tsx
  frontend/src/v5/ui/routes/dashboard/teamspaces/teamspaceContent/teamspaceContent.component.tsx
  frontend/src/v5/ui/routes/legal/index.tsx
  frontend/src/v5/validation/projectSchemes/projectsSchemes.ts
Labels: feature, frontend, Revamping
