Repository 3drepo/3drepo.io, pull requests merged in 2023-03, with the labels that each got.

#4029 ISSUE #4024 - Upload Files button missing
  frontend/src/v5/store/containers/containers.selectors.ts
  frontend/src/v5/store/projects/projects.selectors.ts
Labels: bug, frontend

#4055 ISSUE 4054 - fix docs
  backend/src/v5/routes/teamspaces/projects/models/common/general.js
Labels: hotfix

#4063 ISSUE #4036 - recolour navbar logo to white
  frontend/src/v5/ui/components/shared/appBar/appBar.component.tsx
  frontend/src/v5/ui/components/shared/appBar/appBar.styles.ts
Labels: bug, frontend

#4048 ISSUE #3919 - Confirm modal appears when removing an admin user from teamspace
  frontend/src/v4/modules/userManagement/userManagement.sagas.ts
  frontend/src/v4/routes/users/components/removeUserDialog/removeUserDialog.component.tsx
Labels: bug, frontend

#4075 ISSUE #4025 - prevent v4 redirects briefly showing v4 interface
  frontend/src/main.tsx
  frontend/src/v4/routes/app/app.component.tsx
Labels: bug, frontend

#4085 ISSUE #4082 - New revision button not appearing on new containers
  frontend/src/v5/store/containers/containers.redux.ts
  frontend/src/v5/store/federations/federations.helpers.ts
Labels: bug, frontend

#4079 ISSUE #3884 - Custom Tickets Required number inputs that are unset do not disable submit button
  frontend/src/v5/validation/shared/validators.ts
Labels: bug, frontend

#4088 ISSUE #4078 - Improve required fields marking in Custom Tickets
  frontend/src/v5/ui/controls/accordion/accordion.component.tsx
  frontend/src/v5/ui/controls/accordion/accordion.styles.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/properties/titleProperty.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/ticketForm.component.tsx
Labels: feature, frontend

#4110 ISSUE #4092 - Fix Kanban board crashing
  frontend/src/v4/routes/board/board.component.tsx
Labels: bug, frontend

#4084 ISSUE #4072 - Upload and open a revision crashes
  frontend/.eslintrc.js
  frontend/src/v4/modules/sagas.ts
  frontend/src/v5/services/actionsDispatchers.ts
  frontend/src/v5/services/api/containers.ts
  frontend/src/v5/services/api/federations.ts
  frontend/src/v5/services/selectorsHooks.ts
  frontend/src/v5/store/containers/containers.sagas.ts
  frontend/src/v5/store/federations/federations.sagas.ts
  frontend/src/v5/store/reducers.ts
  frontend/src/v5/store/revisions/revisions.sagas.ts
  frontend/src/v5/store/viewer/viewer.redux.ts
  frontend/src/v5/store/viewer/viewer.sagas.ts
  frontend/src/v5/store/viewer/viewer.selectors.ts
  frontend/src/v5/ui/routes/viewer/viewer.tsx
Labels: bug, frontend

#4117 ISSUE #4104 - Project Page Improvements
  frontend/src/v4/routes/board/board.component.tsx
  frontend/src/v5/services/routing/routing.tsx
  frontend/src/v5/ui/components/shared/navigationTabs/projectNavigation/projectNavigation.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containers.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerEllipsisMenu/containerEllipsisMenu.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federations.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationListItem/federationEllipsisMenu/federationEllipsisMenu.component.tsx
Labels: feature, frontend

#4135 ISSUE #4134 - Clicking near the tooltip in federations prevents the edit modal to appear
  frontend/src/v5/ui/themes/theme.ts
Labels: bug, frontend

#4129 ISSUE #4101 - Add project modal should not allow the user to change teamspace
  frontend/src/v5/ui/routes/dashboard/projects/projectsList/createProjectModal/createProjectModal.component.tsx
  frontend/src/v5/validation/projectSchemes/projectsSchemes.ts
Labels: feature, frontend
