Repository 3drepo/3drepo.io, pull requests merged in 2023-02, with the labels that each got.

#3955 ISSUE #3954 - fix intercom
  frontend/src/v5/store/currentUser/currentUser.selectors.ts
  frontend/src/v5/ui/components/intercom/intercom.component.tsx
Labels: frontend

#3918 ISSUE #3878 - Replace embedded dialog forms and use dialog dispatchers
  frontend/src/v5/store/dialogs/dialogs.redux.ts
  frontend/src/v5/ui/components/shared/revisionDetails/components/revisionsListItem/revisionsListItem.component.tsx
  frontend/src/v5/ui/components/shared/revisionDetails/revisionDetails.component.tsx
  frontend/src/v5/ui/components/shared/userMenu/editProfileModal/editProfileModal.component.tsx
  frontend/src/v5/ui/components/shared/userMenu/userMenu.component.tsx
  frontend/src/v5/ui/components/shared/userMenu/visualSettingsModal/visualSettingsModal.component.tsx
  frontend/src/v5/ui/controls/inputs/selectView/selectView.component.tsx
  frontend/src/v5/ui/controls/modal/modal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containerSettingsModal/containerSettingsModal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containers.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerEllipsisMenu/containerEllipsisMenu.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/createContainerForm/createContainerForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationForm.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/createFederationForm/createFederationSettings/createFederationSettings.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederationModal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationSettingsModal/federationSettingsModal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federations.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationListItem/federationEllipsisMenu/federationEllipsisMenu.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationListItem/federationListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/settingsModal/settingsModal.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/settingsModal/settingsModal.styles.ts
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/properties/basicTicketImage/ticketImageDisplayer/ticketImageDisplayer.component.tsx
Labels: Maintenance, frontend, Revamping

#3997 ISSUE 3990 - allow unity-util to work without index db
  backend/VERSION.json
  frontend/src/globals/unity-util.ts
Labels: bug, hotfix
