Repository 3drepo/3drepo.io, pull requests merged in 2024-08, with the labels that each got.

#5085 ISSUE #5080 - Milestone 1 - UI fixes
  frontend/src/v5/ui/components/dashboard/dashboardList/dashboardListItem/components/dashboardListItemTitle/dashboardListItemTitle.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/drawings/drawingsList/drawingsListItem/drawingsListItemTitle/drawingsListItemTitle.component.tsx
Labels: bug, frontend

#5076 Issue 5075 Decommission UnityUtil.setLegacyAssetMode() and the supermeshes_unity.json endpoint
  backend/src/v4/models/jsonAssets.js
  backend/src/v4/routes/model.js
  frontend/src/globals/unity-util.ts
Labels: Maintenance

#5100 ISSUE #4761 - Standardise date format across the app
  frontend/src/v4/modules/board/board.selectors.ts
  frontend/src/v4/routes/components/dateField/dateField.component.tsx
  frontend/src/v4/routes/components/dateTime/dateTime.component.tsx
  frontend/src/v4/routes/components/filterPanel/components/filtersMenu/filtersMenu.component.tsx
  frontend/src/v4/routes/components/filterPanel/filterPanel.component.tsx
  frontend/src/v4/routes/components/messagesList/components/message/components/footer/footer.component.tsx
  frontend/src/v4/routes/components/messagesList/components/message/components/systemMessage/systemMessage.component.tsx
  frontend/src/v4/routes/components/notifications/notifications.component.tsx
  frontend/src/v4/routes/components/revisionsListItem/revisionsListItem.component.tsx
  frontend/src/v4/routes/components/sequencingDates/sequencingDates.component.tsx
  frontend/src/v4/routes/teamspaceSettings/teamspaceSettings.component.tsx
  frontend/src/v4/routes/viewerGui/components/activities/components/activityDetails/activityDetails.component.tsx
  frontend/src/v4/routes/viewerGui/components/compare/components/compareDiffItem/compareDiffItem.component.tsx
  frontend/src/v4/routes/viewerGui/components/compare/components/revisionsSelect/revisionsSelect.component.tsx
  frontend/src/v4/routes/viewerGui/components/groups/components/groupDetails/groupDetailsForm.component.tsx
  frontend/src/v4/routes/viewerGui/components/issues/components/mainIssueFormTab/mainIssueFormTab.component.tsx
  frontend/src/v4/routes/viewerGui/components/previewItemInfo/previewItemInfo.component.tsx
  frontend/src/v4/routes/viewerGui/components/revisionsSwitch/revisionsSwitch.component.tsx
  frontend/src/v4/routes/viewerGui/components/risks/components/mainRiskFormTab/mainRiskFormTab.component.tsx
  frontend/src/v4/routes/viewerGui/components/sequences/components/sequencePlayer/sequencePlayer.component.tsx
  frontend/src/v4/routes/viewerGui/components/sequences/components/sequencesList/sequencesList.component.tsx
  frontend/src/v4/routes/viewerGui/components/sequences/components/tasksList/sequenceTasksList.component.tsx
  frontend/src/v4/services/api/viewer.ts
  frontend/src/v4/services/formatting/formatDate.ts
  frontend/src/v5/helpers/intl.helper.ts
  frontend/src/v5/ui/components/shared/creationInfo/creationInfo.component.tsx
  frontend/src/v5/ui/components/shared/revisionDetails/components/revisionsListItem/revisionsListItem.component.tsx
  frontend/src/v5/ui/controls/dueDate/dueDate.component.tsx
  frontend/src/v5/ui/controls/inputs/datePicker/dateFormatHelper.ts
  frontend/src/v5/ui/controls/inputs/datePicker/datePicker.component.tsx
  frontend/src/v5/ui/controls/inputs/datePicker/dateTimePicker.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/containers/containersList/containerListItem/containerListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/editFederationModal/editFederation/editFederationContainersList/editFederationContainersListItem/editFederationContainersListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/federations/federationsList/federationListItem/federationListItem.component.tsx
  frontend/src/v5/ui/routes/dashboard/projects/tickets/ticketsTable/ticketsTableContent/ticketsTableGroup/ticketsTableRow/ticketsTableRow.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/commentsPanel/comment/otherUserComment/importedUserPopover/importedUserPopover.component.tsx
Labels: frontend

#5114 ISSUE #5103 - Milestone 4: Show/hide all ticket pins
  frontend/src/v4/routes/viewer3D/viewer3D.component.tsx
  frontend/src/v5/store/tickets/card/ticketsCard.redux.ts
  frontend/src/v5/store/tickets/card/ticketsCard.selectors.ts
  frontend/src/v5/ui/controls/ellipsisMenu/ellipsisMenuItem/ellipsisMenuItem.styles.ts
  frontend/src/v5/ui/controls/ellipsisMenu/ellipsisMenuItem/ellipsisMenuItemSwitch.component.tsx
  frontend/src/v5/ui/controls/ellipsisMenu/ellipsisMenuItem/ellipsisMenutItem.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketsList.styles.ts
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketsListCard.component.tsx
  frontend/test/tickets/card/ticketsCard.store.spec.ts
Labels: frontend
