Repository 3drepo/3drepo.io, pull requests merged in 2024-01, with the labels that each got.

#4653 ISSUE_4563 - Ticket pins get filtered with the list
  frontend/src/v5/store/tickets/card/ticketsCard.helpers.ts
  frontend/src/v5/store/tickets/card/ticketsCard.redux.ts
  frontend/src/v5/store/tickets/card/ticketsCard.selectors.ts
  frontend/src/v5/store/tickets/tickets.helpers.ts
  frontend/src/v5/store/tickets/tickets.types.ts
  frontend/src/v5/ui/controls/search/searchInput/searchInput.styles.ts
  frontend/src/v5/ui/routes/dashboard/projects/tickets/ticketsTable/ticketsTable.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketDetails/ticketsDetailsCard.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/tickets.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/properties/coordsProperty/coordsProperty.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/properties/coordsProperty/coordsProperty.helpers.ts
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketItem/ticketItem.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketSearchInput/ticketSearchInput.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketSearchInput/ticketSearchInput.styles.ts
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketsList.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketsList.styles.ts
  frontend/src/v5/ui/routes/viewer/tickets/ticketsList/ticketsListCard.component.tsx
  frontend/src/v5/ui/routes/viewer/viewer.tsx
  frontend/stories/inputs/textField/SearchInputWithChips.stories.tsx
  frontend/test/tickets/card/ticketsCard.store.spec.ts
Labels: feature

#4668 ISSUE #4621 - leaving a ticket saves unsaved changes
  frontend/src/v5/store/tickets/tickets.validators.ts
  frontend/src/v5/ui/routes/dashboard/projects/tickets/ticketsList/slides/ticketSlide.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketDetails/ticketsDetailsCard.component.tsx
Labels: frontend

#4670 Issue 4640 - Toolbar: ability to clear overrides from toolbar
  frontend/src/v4/modules/groups/groups.redux.ts
  frontend/src/v4/modules/groups/groups.sagas.ts
  frontend/src/v4/modules/sequences/sequences.redux.ts
  frontend/src/v4/modules/sequences/sequences.sagas.ts
  frontend/src/v4/modules/sequences/sequences.selectors.ts
  frontend/src/v4/modules/viewerGui/viewerGui.redux.ts
  frontend/src/v4/modules/viewerGui/viewerGui.sagas.ts
  frontend/src/v4/modules/viewpoints/viewpoints.redux.ts
  frontend/src/v4/modules/viewpoints/viewpoints.sagas.ts
  frontend/src/v5/helpers/viewpoint.helpers.ts
  frontend/src/v5/services/actionsDispatchers.ts
  frontend/src/v5/ui/routes/viewer/toolbar/selectionToolbar/selectionToolbar.component.tsx
  frontend/src/v5/ui/routes/viewer/toolbar/selectionToolbar/selectionToolbar.styles.ts
Labels: frontend

#4694 ISSUE #4542 - Opening the Visual Settings was clearing the URL params
  frontend/src/v5/ui/controls/actionMenu/actionMenuItemLink/actionMenuItemLink.component.tsx
  frontend/src/v5/ui/controls/actionMenu/actionMenuItemLink/actionMenuItemLink.styles.ts
Labels: bug, frontend

#4708 ISSUE #4639 - Sequences don't revert to a previously selected date on cancel
  frontend/src/v4/routes/components/dateField/dateField.component.tsx
  frontend/src/v4/routes/components/dateField/dateField.styles.ts
  frontend/src/v5/ui/controls/inputs/datePicker/baseCalendarPicker/calendarActionBar/calendarActionBar.component.tsx
  frontend/src/v5/ui/v4Adapter/overrides/cards/sharedStyles/sequencesTab.overrides.ts
Labels: bug, frontend

#4727 ISSUE #4548 - Smart group value fields only get autofocus when adding a new field
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/ticketGroups/groups/groupRulesForm/groupRulesForm.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/ticketGroups/groups/groupRulesForm/groupRulesInputs/ruleFieldValues/fieldValueInput/fieldValueInput.component.tsx
  frontend/src/v5/ui/routes/viewer/tickets/ticketsForm/ticketGroups/groups/groupRulesForm/groupRulesInputs/ruleFieldValues/ruleFieldValues.component.tsx
Labels: bug, frontend
